@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font-openSans: 'Open Sans', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --color-dark: #181818;
  --color-chatGPT: #202123;
  --color-light: #eeeeee;
  --color-encerramento: #a9ca01;
  --color-agendamento:#00AEEF;
  --color-cancelamento: tomato;
}

::-webkit-scrollbar {
  background-color: var(--color-chatGPT-c); /* cor de fundo da barra de rolagem */
  width: 8px; /* largura da barra de rolagem */
  border-radius: 10px; /* raio das bordas da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-light); /* cor da alça da barra de rolagem */
  border-radius: 10px; /* raio das bordas da alça da barra de rolagem */
}

* {
  box-sizing: border-box;
  outline: 0;
  background-color: var(--color-chatGPT);
  color: var(--color-light);
}

.fundo-espelho{
  font-family: var(--font-montserrat);
  background-color: var(--color-chatGPT);
}

div[class~="comprovante"]{
  display: none;
  justify-content: space-between;
  align-items: center;
}

.codigo {
  background-color: var(--color-chatGPT);
  border-style: solid;
  border: 1px solid var(--color-light);
  font-size: 1.4em;
}

ul li a.link-menu {
  color: var(--color-light);
}

ul li a.link-menu:hover {
  text-decoration: underline;
  color: var(--color-light);
}

.fa-solid{
  padding: 5px;
}

.fa-solid:hover{
  cursor: pointer;
}

.assinaturas{
  display: none;
  font-size: 0.8em;
}

/* BOTAO IMPRIMIR */
.imprimir, .deleteOS{
  border-radius: 0px;
  color: var(--color-light);
  /* border: 1px solid var(--color-light); */
}

/* PRE-BAIXAS */
.pre_baixa, .ttp_pre_baixa{
  width: 180px;
  margin: auto;
  border-radius: 5px;
  font-weight: bold;
  text-transform: none;
  text-decoration: none;
}

.nao_atendida{
  color: var(--color-light);
}

.cancelamento{
  color: var(--color-cancelamento);
}

.encerramento{
  color: var(--color-encerramento);
}

.agendamento{
  color: var(--color-agendamento);
}

#devolucao{
  font-weight: 800;
  min-width: 200px;
}

.fonte-table{
  font-size: 1em;
}

/* TOOLTIP */
.ttp {
  position: relative;
  display: inline-block;
  cursor: default;
  /* adiciona um underline pontilhado ao texto */
}

.ttp .tooltiptext {
  visibility: hidden;
  display: inline-block;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 0.9em;
  font-weight: normal;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -80%;
  /* oculta o texto e define sua aparência */
}

.ttp:hover .tooltiptext {
  cursor: pointer;
  visibility: visible;
  /* torna o texto visível quando o mouse passa sobre o elemento */
}

.w-200{
  width: 200px;
}

.w-300{
  width: 300px;
}

.w-400{
  width: 400px;
}

/* LAYOUT IMPRESSAO */
@media print {
  header{
    display: none;
  }

  div[class~="comprovante"]{
    display: block;
  }
}

/* LAYOUT CHECKBOX */
input[type=checkbox]{
  cursor: pointer;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

/* FOOTER */
footer{
  position: fixed;
  opacity: .6;
  bottom: 0px;
  right: 20px;
}

footer p {
  text-align: end;
  font-size: .7em;
}

