* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.box-input-upload {
  max-width: 85vw;
  min-width: 1100px;
  margin: 0 auto;
  opacity: 0.8;
}

.upload_hide {
  position: absolute;
  max-width: 85vw;
  height: 60vh;
  width: 100%;
  z-index: 5;
  opacity: 0;
}

.upload_label {
  position: absolute;
  max-width: 85vw;
  height: 60vh;
  width: 100%;
  border: 5px dashed var(--color-light);
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  flex-direction: column;
}

.upload_label:hover, .upload_hide:hover{
  cursor: pointer;
}

.box-input-upload:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: .3s;
}

.choose_file {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #139CFF;
  color: var(--color-light);
  border-radius: 3px;
  margin: 30px auto;
  pointer-events: none;
}

.delete_file {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #139CFF;
  color: #fff;
  border-radius: 3px;
  margin: 30px auto;
  cursor: pointer;
  z-index: 6;
  position: absolute;
  top: 62%;
  left: 51%;
  transform: translate(-50%, -50%);
  outline: none;
}


.upload_label > i {
  color: var(--color-light);
  font-size: 110px;
  margin: 30px 0;
}

.drag_text {
  color: var(--color-light);
  font-size: 22px;
  margin: 30px 0 0 0;
}

.image > img {
  padding: 40px;
  width: 80%;
  height: auto;
  position: absolute;
  left: 10%;
  top: 0;
}